/*---- BASIC SETUPS ----*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*---- NAV ----*/

.clk-nav {
    height: 100px;
}

.search-bar {
    display: inline-block;
    width: 35px;
    float: right;
    font-size: 35px;
    color: gray;
    margin: 45px 80px 10px 0;
    padding-left: 500px;
    padding-right: 26.5px;
    padding-bottom: 7px;
    border-bottom: 3px solid gray;
    border-radius: 2px;
}

.blc {
    display: inline-block;
    padding: 30px 0 30px 60px;
    background-color: #91dcff;
    margin-top: 40px;
}

.time {
    display: inline-block;
    color: #91dcff;
    font-size: 60px;
    font-family: Arial;
    margin-left: 20px;
    letter-spacing: 3px;
}


/*---- CLOCKS ----*/

.clk-faces {
    width: 100%;
    height: 660px;
}

/*---- ANALOG CLOCK ----*/

.analog-clk {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 660px;
}

.clk-body {
    position: absolute;
    background-image: linear-gradient(#ffffffec,#ffffffec), url(./img/png-earth-logo-vector-png.png);
    background-position: center;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 6px solid gray;
    right: 100px;
    bottom: 120px;
}

/*---- DOTS ----*/

.dots {
    position: absolute;
    padding: 8px;
    background-color: #7a7a7a;
    border-radius: 50%;
}

.big {
    padding: 13px;
}

.big-dot1 {
    right: 18px;
    bottom: 200px;
}

.big-dot2 {
    left: 18px;
    bottom: 200px;
}

.big-dot3 {
    left: 200px;
    bottom: 18px;
}

.big-dot4 {
    left: 200px;
    top: 18px;
}

.dot1 {
    right: 46px;
    bottom: 115px;
}

.dot2 {
    left: 46px;
    bottom: 115px;
}

.dot3 {
    bottom: 46px;
    right: 115px;
}

.dot4 {
    bottom: 46px;
    left: 115px;
}

.dot5 {
    top: 46px;
    left: 115px;
}

.dot6 {
    top: 46px;
    right: 115px;
}

.dot7 {
    right: 46px;
    top: 115px;
}

.dot8 {
    left: 46px;
    top: 115px;
}

/*---- CLOCK BARS AND CENTER ----*/

.center {
    position: absolute;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 8px black;
    top: 215px;
    right: 215px;
}

.sec-bar {
    position: absolute;
    width: 155px;
    height: 5px;
    background-color: red;
    box-shadow: 2px 2px 8px black;
    border-radius: 3px;
    top: 222px;
    right: 220px;
}

.mnt-bar {
    position: absolute;
    width: 135px;
    height: 9px;
    background-color: #000000;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
    top: 221px;
    left: 218px;
}

.hr-bar {
    position: absolute;
    width: 13px;
    height: 100px;
    background-color: #000000;
    box-shadow: 2px 2px 8px black;
    border-radius: 6px;
    top: 221.5px;
    left: 205.8px;
}


/*---- DIGITAL CLOCK ----*/

.digital-clk {
    display: inline-block;
    position: absolute;
    width: 500px;
    top: 220px;
    padding-left: 20px;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url(../fonts/Digital\ Dismay.otf);
}

.clk-face {
    font-family: 'digital-clock-font';
    font-size: 100px;
    color: #91dcff;
    margin: 0;
    letter-spacing: 4px;
}

.date {
    color: gray;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

.t-zone {
    color: gray;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}